---
layout: layouts/base.njk
---

<script eleventy:ignore type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "BlogPosting",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "{{ metadata.url }}{{ page.url }}"
		},
		"headline": "{{ title | escape }}",
		"description": "{{ description | escape }}",
		"image": ["{% if image %}{{ image | htmlBaseUrl(metadata.url) }}{% else %}{{ metadata.author.logo }}{% endif %}"],
		"datePublished": "{{ page.date | htmlDateString }}",
		"dateModified": "{{ (page.updated or page.date) | htmlDateString }}",
		"author": {
			"@type": "Person",
			"name": "{{ metadata.author.name }}",
			"url": "{{ metadata.author.url }}"
		},
		"publisher": {
			"@type": "Organization",
			"name": "{{ metadata.publisher.name }}",
			"logo": {
				"@type": "ImageObject",
				"url": "{{ metadata.publisher.logo }}"
			}
		}
	}
</script>

{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "css/prism-diff.css" %}</style>
<h1>{{ title }}</h1>
<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
